<section class="tabs">
	
	  <input id="tab-1" type="radio" name="radio-set" checked="checked" class="tab-label-1"/>
    <label for="tab-1" class="tab-label-1">About us</label>

    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2">What we do</label>

    <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
    <label for="tab-3" class="tab-label-3">References</label>

    <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
    <label for="tab-4" class="tab-label-4">Contact us</label>

    <section class="clear-shadow"></section>
    
    <section class="content">
    	<section class="content-1">
    		<p>Some Content</p>
    	</section>
			<section class="content-2">
    		<p>Some Content</p>
    	</section>
			<section class="content-3">
    		<p>Some Content</p>
    	</section>
			<section class="content-4">
    		<p>Some Content</p>
    	</section>
    </section>

</section>