<section class="tabs">
	
	  <input id="tab-1" type="radio" name="radio-set" checked="checked" class="tab-label-1"/>
    <label for="tab-1" class="tab-label-1">About</label>

    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2">Service</label>

    <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
    <label for="tab-3" class="tab-label-3">Work</label>

    <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
    <label for="tab-4" class="tab-label-4">Contact</label>

    <section class="clear-shadow"></section>

    <section class="content">
    	<section class="content-1">
				<h2>About us</h2>
          <p>With his kebeb skewer slamming deep into my ground zero grotto, the sensation of his chubstep smashing my cervix made me quake like jelly. I can't wait to gobble the steamin' semen from his one-eyed milkman. There was cock snot dripping from his throbbing quim dagger and I was wetter than an Italian cruise ship. We were ready for more. Hours of thrusting like this would leave any girl's flappy meal looking like a rabid baboon's arse, and I was no different! I awoke the next morning with my tuna canal still haemorrhaging. I thought it was over but his timed slimer had other ideas.</p>
				<h3>How we work</h3>
					<p>Hours of raiding like this would leave any girl's furburger looking like John Wayne's saddlebags, and I was no different! The unrelenting orgasms from his wrist-thick wand plowing my tuna canal made me come so hard, I began sweating like a paedo during a prison riot. When he removed his cream reaper from my puckered brown eye, he was pleasantly eating it.</p> 
		  </section>
			<section class="content-2">
				<h2>Services</h2>
          <p>Hours of fucking like this would leave any girl's velcro triangle looking like a werewolf with it's throat cut, and I was no different! The mixture of Mr. Hanky and cock custard in my vintage golf bag created the delicious porthole pudding that he was so fond of. The unrelenting orgasms from his one-eyed monster slamming my herring hole made me come so hard, I began sweating like a blind lesbian in a fish shop. Leaving my panties sunny side up on the floor was the least of my worries as his battering ram probed deeper into my tradesman's entrance. He munched on my clap flaps, even though I'd been up on bricks for the best part of a week.</p>
				<h3>Excellence</h3>
					<p>After having my kipper dinghy hammered, he then proceeded to pound my shit winker. I can't wait to chow down on the gentleman's relish from his veiny quim prod. With his timed slimer pounding deep into my birth cannon, the sensation of his washington monument smashing my cervix made me quiver.</p>
			</section>
			<section class="content-3">
				<h2>Portfolio</h2>
          <p>There was gentleman's relish dribbling from his skeleton king and I was wetter than a spastic's chin. We were ready for more. By now, my cock holster was trickling like a rabid dog. He launched a giant corn-eyed butt snake on my chesticles just so he could chow down on it up like a bulldog eating porridge. If I don't play the clitar to get my fallopian fish stock haemorrhaging from my vibrator crater, his meaty member is going to leave my furburger resembling a sand blasted tomato. The seemingly never-ending streams of creamy load emanating from his wensleydale wand soon had me coated like a plasterer's radio.</p>
				<h3>Examples</h3>
					<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why</p>
			</section>
			<section class="content-4">
				<h2>Contact</h2>
          <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
				<h3>Get in touch</h3>
					<p>Excuse me, I'd like to ASS you a few questions. Hey, maybe I will give you a call sometime. Your number still 911? Look at that, it's exactly three seconds before I honk your nose and pull your underwear over your head. We got no food we got no money and our pets heads are falling off! Haaaaaaarry.</p>
			</section>
    </section>

</section>