<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <title>Animated Content Tabs</title>
    <link rel='stylesheet' type='text/css' href='/css/application.css'>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>